body {
	background-image: url(../images/login.jpg);
	background-size: cover;
	color: #fff;
}

.login {
	margin-top: 100px;
}

.login .card {
	background: rgba(0, 0, 0, .6);
}

.login label {
	font-size: 16px;
	color: #ccc;
}

.login input {
	font-size: 20px !important ;
	color: #fff;
}

.login button:hover {
	padding: 0px 40px !important;
}

.login p {
      font-size: 16px !important;
}